.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 240px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(245, 232, 221);

}

.input::placeholder {
    color: black;
}

.input:focus {
    background-color: rgb(238, 211, 217);
}